.Main{
  width:20vw;
  height:20vh;
  

}

.Card{
  background-color: aliceblue;
  display:flex;
  flex-direction: column;
  height:20vh;
  width:20vw
}

.Info{
  display: flex;
  margin-left: 1vw;
  justify-content: space-between;
  width:12vw;
  margin-top:1vh;
}

.Date{
  display: flex;
  margin-left: 1vw;
  justify-content: space-between;
  width:14vw;
  margin-top:1vh;
}

.Border{
  height:2px;
  width:100%;
  background-color: black;
  margin-top: 1vh;
}

.Buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 1vh;
}